@media screen and (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
    }

    .logo h1 {
        font-size: 40px;
    }

    .menu {
        flex-direction: column;
        margin-top: 50px;
    }

    .menu li a{
        font-size: 30px;
    }

    /* Configurações do corpo principal */

    .principal .texto-poema {
        background-color: var(--corDeFundoTexto);
        margin: 10px 0px;
        padding: 10px;
        width: 97%;
        font-size: 0.7em;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
        font-family: var(--font-grafia-mao-text);
    }

    /* Configurações da aba Sobre */

    .principal .texto-apresentacao {
        background-color: var(--corDeFundoTexto);
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
        padding: 10px;
        width: 97%;
        font-size: 1em;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
        font-family: var(--font-grafia-mao-text);
    }
}