@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap');

/* Configurações Gerais */

body {
    font-family: 'Caveat', cursive;
}

/* Configurações do cabeçalho */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
   font-size: 40px;
   margin-left: 5px;
}

.menu {
    display: flex;
    align-items: center;
    background-color: limegreen;
    border-radius: 12px;
}

.menu li {
    padding: 15px;
    font-size: 20px;
}

.menu li a {
    transition: 0.5s ease-in-out;
    padding: 5px 10px;
}

.menu li a:hover {
    background-color: rgb(243, 140, 6);
    border-radius: 12px;
    color: #ffffff;
}