@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* font-family: 'Sriracha', cursive; */
/* font-family: 'Itim', cursive; */

/* Configurações Gerais */

body {
    font-family: var(--font-grafia-mao);
    min-height: 100vh;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

/* Configurações do cabeçalho */

.cabecalho {
    background-color: var(--corDeFundoHeader);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.575);
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
   font-size: 40px;
   margin-left: 5px;
}

.menu {
    display: flex;
    align-items: center;
    background-color: var(--corMenu);
    border-radius: 12px;
}

.menu li {
    padding: 15px;
    font-size: 20px;
}

.menu li a {
    transition: 0.5s ease-in-out;
    padding: 5px 10px;
}

.menu li a:hover {
    background-color: var(--corMenuHover);
    border-radius: 12px;
    color: #ffffff;
}

/* Configurações do corpo principal */

.principal {
    background-color: var(--corDeFundo);
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto 10px auto;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.575);
}

.principal .ultimos-textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 90%;
    text-align: justify;
}

.principal .principais-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 90%;
    text-align: justify;
}

.principal .texto-poema {
    background-color: var(--corDeFundoTexto);
    margin: 10px 0px;
    padding: 10px;
    width: 70%;
    font-size: 1em;
    border-radius: 0px 100px 0px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
    font-family: var(--font-grafia-mao-text);
}

/* Configurações do rodapé */
.rodape {
    background-color: var(--corMenu);
    text-align: center;
    color: white;
    font-family: var(--font-grafia-mao2);
}

.rodape a:hover {
    text-decoration: underline;
    color: var(--corMenuHover);
}